.contenedor1
{
    background-color: beige;
    height:200px;
    width: 33.33%;
   /* border: 1px solid black; */
    /*float: left;*/
    display:block;
}

.contenedor2
{
    background-color: aqua;
    height:200px;
    width: 33.33%;
    /*float: left;*/
    display:block;
}

.contenedor3
{
    background-color: rgb(138, 216, 28);
    height:200px;
    width: 33.33%;
    /*float: left;*/
}

h1 
{
    text-align: center;
}